<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>IAW</string>
	<key>connections</key>
	<dict>
		<key>04B94978-3460-4BDA-BB15-2611530870E7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6A9C187D-0A2B-46DC-AB41-D8C5606C2BC9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1C446AE5-AEE9-4EA1-A9D5-3EDDDEA9D0E6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>41C4CD90-B858-46C1-AE44-C8B9799C9573</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6A9C187D-0A2B-46DC-AB41-D8C5606C2BC9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1C446AE5-AEE9-4EA1-A9D5-3EDDDEA9D0E6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Athon</string>
	<key>description</key>
	<string>IA Writer</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>IAW</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>echo&gt; /Users/athond/Library/Mobile\ Documents/27N4MQEA55\~pro\~writer/Documents/$dir/"{query}".txt
open -a /Applications/iA\ Writer.app /Users/athond/Library/Mobile\ Documents/27N4MQEA55\~pro\~writer/Documents/$dir/"{query}".txt</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>41C4CD90-B858-46C1-AE44-C8B9799C9573</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"imagefile":"60203a4a2e15ee7edd083883a89cf9b2dbe02b0c.png","title":"Личное","arg":"Личное","subtitle":""},{"imagefile":"60203a4a2e15ee7edd083883a89cf9b2dbe02b0c.png","title":"Медийность","arg":"Медийность"},{"imagefile":"60203a4a2e15ee7edd083883a89cf9b2dbe02b0c.png","title":"Программирование","arg":"Программирование"}]</string>
				<key>keyword</key>
				<string>iaw create</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Create Note</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>6A9C187D-0A2B-46DC-AB41-D8C5606C2BC9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{date} {time}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>dir</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>1C446AE5-AEE9-4EA1-A9D5-3EDDDEA9D0E6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>iaw</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>IA Writer</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>04B94978-3460-4BDA-BB15-2611530870E7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>IA Writer support</string>
	<key>uidata</key>
	<dict>
		<key>04B94978-3460-4BDA-BB15-2611530870E7</key>
		<dict>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>275</integer>
		</dict>
		<key>1C446AE5-AEE9-4EA1-A9D5-3EDDDEA9D0E6</key>
		<dict>
			<key>xpos</key>
			<integer>535</integer>
			<key>ypos</key>
			<integer>145</integer>
		</dict>
		<key>41C4CD90-B858-46C1-AE44-C8B9799C9573</key>
		<dict>
			<key>xpos</key>
			<integer>655</integer>
			<key>ypos</key>
			<integer>115</integer>
		</dict>
		<key>6A9C187D-0A2B-46DC-AB41-D8C5606C2BC9</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
